dash==3.3.0
dash_bootstrap_components==2.0.4
dash_daq==0.6.0
ibm-cloud-sdk-core==3.24.2
jproperties==2.1.2
markdownify==1.2.2
pandas==2.3.3
numpy==2.3.5
python-dotenv==1.2.1
requests==2.32.5
sql-formatter==0.6.2
bcrypt==3.2.2
PyJWT==2.4.0
urllib3==2.4.0
furl==2.1.4
