dash==2.15.0
dash_bootstrap_components==1.2.1
dash_daq==0.6.0
ibm-cloud-sdk-core==3.20.4
jproperties==2.1.2
markdownify==1.2.2
pandas==1.1.5
numpy==1.19.5
python-dotenv==0.20.0
requests==2.27.1
sql-formatter==0.6.2
bcrypt==3.2.2
PyJWT==2.4.0
urllib3==1.26.20
furl==2.1.4
