dash
dash_bootstrap_components
urllib3==2.4.0
ibm-cloud-sdk-core
dash_daq
jproperties
markdownify
pandas
numpy
python-dotenv
requests
sql-formatter
PyJWT==2.4.0
segment-analytics-python
bcrypt==3.2.2
furl
